:root{
    --primarycolor: #2759ff;
    --secondarycolor: #050505;
    --lightcolor: #e74e12;
    --bgcolor-1: #fff;
    --bgcolor-2: #22282a;
    --padding: 8%;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
}
.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-1);
    display: flex;
    flex-direction: column;
}
span{
    color: var(--primarycolor);
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-top: 2.5rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 204, 128);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
ul li a{
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
    border-color: transparent;
    background-color: #4d3736;
    color: #fff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}

ul li a:hover{
    color: var(--primarycolor);
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.btn{
    background-color: var(--primarycolor);
    color: var(--lightcolor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}

.rac{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.rac-text{
    position: relative;
    bottom: 70px;
}

h1{
    font-size: 3.65rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
}
.soc{
    margin-top: 3.5rem;
}

.soc img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.soc img:hover{
    transform: scale(1.2);
}

.imag{
    width: 45%;
    height: 90%;
    position: relative;
}

.imag img{
    position: absolute;
    bottom: 50%;
    height: 40%;
    left: 20%;
}


